.app {
    /* IMPORTANT: to trim the whole right whitespace in mobile devices  */
    overflow: hidden;
}

/* header */
.header {
    position: relative;
    z-index: 9;
    height: var(--header-height);
    background-image: linear-gradient(0,#ff6533,#f53e2d);
}
/* navbar mobile tablet */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.mobile-navbar-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0, 0.3);
    /* z-index: 99; */
    animation: fadeIn linear 0.3s; 
}
.mobile-navbar-checkbox {
    display: block;
}
.mobile-navbar-label {
    display: none;
}
.mobile-navbar-icon {
    font-size: 2.6rem;
    color: var(--white-color);
}

.mobile-navbar-close {
    display: block;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.mobile-navbar-close-icon {
    font-size: 2.6rem;
    color: var(--text-color);
}

/* navbar */
.navbar {
    position: relative;
    z-index: 9;
    display: flex;
    justify-content: space-between;
    height: var(--navbar-height);
}
.navbar__list {
    list-style: none;
    padding-left: 0;
    margin: 4px 0 0 0;
    display: flex;
}

.navbar__item {
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}

.navbar__item-user {
    display: flex;
    justify-items: center;
    position: relative;
}

.navbar__item-user::after {
    content: "";
    display: block;
    position: absolute;
    top: 90%;
    right: 0;
    width: 100%;
    height: 20px;
    /* background-color: black; */
}

.navbar__item-user:hover .navbar__user-menu {
    display: block;
}

.navbar__item-user-img {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: var(--white-color);
    border: 1px solid rgba(0,0,0,0.2);
}

.navbar__item-user-name {
    margin-left: 4px;
    font-size: 1.4rem;
    font-weight: 400;
}

.navbar__user-menu {
    display: none;
    position: absolute;
    padding-left: 0;
    list-style: none;
    top: calc(100% + 6px);
    right: 0;
    background-color: var(--white-color);
    border-radius: 2px;
    width: 160px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.2)
}

/* up arrow */
.navbar__user-menu::before {
    content: "";
    border-width: 20px 30px;
    border-style: solid; 
    border-color: transparent transparent white transparent;   
    position: absolute;
    right: 0px;
    top: -28px
}

.navbar__user-menu-item {
    padding: 8px 16px;
}
.navbar__user-menu-item:hover {
    background-color: #fafafa;
}

.navbar__user-menu-item:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.navbar__user-menu-item:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.navbar__user-menu-item.navbar__user-menu-item--separate {
    border-top: 1px solid rgba(0,0,0,0.05);
}
.navbar__user-menu-item-link {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    /* scale a tag must set display: inline-block */
    display: block;
    padding: 4px 0;
}

.navbar__item--has-qr:hover .header__qr {
    display: block;
}

.navbar__item-has-notify:hover .header__notify {
    display: block;
}
.navbar__item,
.navbar__item-link {
    display: inline-block;
    font-size: 1.3rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}

.navbar__item,
.navbar__item-link,
.navbar__icon-link {
    display: inline-flex;
    align-items: center;
}

.navbar__item:hover {
    cursor: pointer;
}

.navbar__item-link:hover,
.navbar__icon-link:hover {
    cursor: pointer;
    opacity: 0.8;
}

.navbar__item--separate::after {
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 14px;
    background-color: #fb9086;
    top: 50%;
    right: -10px;
    transform: translateY(-50%);
}

.navbar__icon-link {
    color: var(--white-color);
    text-decoration: none;
}

.navbar__icon-link:nth-child(2) {
    margin-left: 3px;
}

.navbar__icon {
    font-size:1.8rem;
    margin: 0 4px;
}

.navbar__title--no-pointer{
    cursor: text;
    color: #fff;
}

/* Header QR Code */

.header__qr {
    display: none;
    position: absolute;
    width: 186px;
    background-color: var(--white-color);
    left:0;
    top: 120%;
    padding: 8px;
    border-radius: 2px;
    /* animation */
    animation: fadeIn ease-in 0.3s;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}

.header__qr::before {
    position: absolute;
    width: 100%;
    height: 20%;
    content: "";
    display: block;
    background-color: none;
    left: 0;
    top: -20px;
}
.header__qr-img {
    width: 100%;
}
.header__qr-apps {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}
.header__qr-link:nth-child(1) {
    margin-left: 11px;
}
.header__qr-link:nth-child(3) {
    margin-left: 11px;
}
.header__qr-link:nth-child(2) {
    margin-right: 11px;
}

.header__download-img {
    height: 15px;

}

/* Header Notification */
.header__notify {
    display: none;
    position: absolute;
    top: 120%;
    right: 0;
    width: 404px;
    background-color: var(--white-color);
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 2px;
    cursor: default;
    user-select: none;
    transform-origin: calc(100% - 32px) top;
    animation: headerNotifyGrowth ease-in 0.25s;
    /* optimize animation */
    will-change: opacity, transform;
}

/* up arrow */
.header__notify::before {
    content: "";
    border-width: 20px 30px;
    border-style: solid; 
    border-color: transparent transparent white transparent;   
    position: absolute;
    right: 0px;
    top: -28px
}
/* a bridge to avoid lost focus when moving from notify item to notify header  */
.header__notify::after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: -16px;
    width: 90px;
    height: 20px;
}

@keyframes headerNotifyGrowth {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}


.header__notify-header {
    height: 40px;
    background-color: var(--white-color);
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    
}

.header__notify-header h3 {
    color: #999;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px;
}

.header__notify-list {
    padding-left: 0;
    
}
.header__notify-item {
    
}

.header__notify-item:hover {
    background-color: #f7f7f7;
}

.header__notify-item--viewed {
    background-color: rgba(238,75,43, .09);
}

.header__notify-link {
    width: 100%;
    display: flex;
    padding: 12px;
    text-decoration: none;
}
.header__notify-img {
    width: 48px;
    /* avoid deform image when it is inside a flex container */
    object-fit: contain;
}
.header__notify-info {
    flex: 1;
    margin-left: 12px;
}
.header__notify-name {
    display: block;
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 400;
    line-height: 1.8rem;
}
.header__notify-description {
    margin-top: 4px;
    display: block;
    font-size: 1.2rem;
    color: #756f6e;
    line-height: 1.6rem;
}
.header__notify-footer {
    display: flex;
}
.header__notify-footer-btn {
    /* centering horizontal with flex container */
    margin: auto;

    text-decoration: none;
    color: var(--text-color);
    padding: 8px 32px;
    font-size: 1.4rem;
    font-weight: 400;
}

/* Authen Modal */

.auth-form {
    width: 500px;
    background-color: #fff;
    border-radius: 4px;
    /* avoid overflow the social buttons */
    overflow: hidden;
}
.auth-form__container {
    padding: 0 32px;
}

.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    margin-top: 10px;
}

.auth-form__heading {
    font-size: 2.0rem;
    font-weight: 400;
    color: var(--text-color);
}
.auth-form__switch-btn {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--primary-color);
    cursor: pointer;
}
.auth-form__form {

}

.auth-form__input {
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    /* input has always outline default border */
    outline: none;
}

.auth-form__input:focus {
    border-color: #888;
}

.auth-form__aside {
    margin-top: 18px;
    padding: 0 10px;
}

.auth-form__policy-text {
    font-size: 1.4rem;
    line-height: 1.8rem;
    text-align: center;
}

.auth-form__text-link {
    text-decoration: none;
    color: var(--primary-color);
}

.auth-form__controls {
    margin-top: 80px;
    display:flex;
    justify-content: flex-end;
}

.auth-form__socials {
    background-color: #f5f5f5;
    width: 100%;
    padding: 16px 36px;
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}

.auth-form__socials-icon {
    font-size : 1.8rem;
}
.auth-form__socials--facebook {
    background-color: #3A5A98;
    color: var(--white-color);
}
.auth-form__socials--facebook .auth-form__socials-icon {
    color: var(--white-color)
}

.auth-form__socials--google {
    background-color: #FFF;
    color: var(--text-color);
}
.auth-form__socials--google .auth-form__socials-icon {
    color: var(--text-color)
}

.auth-form__socials-title {
    margin: 0 36px;
}

/* Login Form */
.auth-form__help {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.auth-form__help-link {
    font-size: 1.4rem;
    text-decoration: none;
    color: #939393;
}

.auth-form__help--forgot {
    color: var(--primary-color);
}

.auth-form__help-separator {
    display: block;
    border: 0.5px solid #EAEAEA;
    height: 22px;
    margin:  2px 16px 2px;
}

/* Header with search */

.header-with-search {
    position: relative;
    z-index: 8;
    height: var(--header-with-search-height);
    display: flex;
    align-items: center;
    margin: 0 8px;
}

/* search for mobile */
.header__mobile-search {
    display: none;
    padding: 0 12px;
}

.header__mobile-search-icon {
    font-size: 2.6rem;
    color: var(--white-color);
}

.header__logo {
    width: 200px;
}

.header__logo-link {
    display: block;
    line-height: 0;
    text-decoration: none;
    color: transparent;
}

.header__logo-img {
    width: 150px;
}

.header__search {
    height: 40px;
    display: flex;
    align-items: center;
    flex: 1;
    border-radius: 2px;
    background-color: var(--white-color);
}

.header__cart {
    width: 150px;
    text-align: center;
}

.header__cart-wrapper {
    position: relative;
    display: inline-block;
    padding: 0 12px;
    cursor: pointer;
    /* desactive hilight when press on mobile tablet */
    -webkit-tap-highlight-color: transparent;
}

.header__cart-icon {
    color: var(--white-color);
    font-size: 2.4rem;
    margin-top: 6px;
}

.header__cart-notice {
    position: absolute;
    padding: 2px 6px;
    background-color: var(--white-color);
    color: var(--primary-color);
    font-size: 1.4rem;
    line-height: 1.4rem;
    border-radius: 50%;
    margin: auto;
    border: 2px solid #EE4D2D;
    top: -4px;
    right: -4px;

}
.header__cart-wrapper:hover .header__cart-list {
    display: block;
}
/* bridge */
.header__cart-list::before {
    content: "";
    position: absolute;
    right: 0;
    top: -30px;
    width: 100px;
    height: 40px;
}
/* triangle */
.header__cart-list::after {
    content: "";
    position: absolute;
    right: 0;
    top: -30px;
    border-width: 20px 24px ;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    cursor: pointer;
}

.header__cart-list {
    display: none;
    position: absolute;
    top: calc(100% + 6px);
    right: 1px;
    background-color: var(--white-color);
    box-shadow: 0 1px 3.125rem 1px rgba(0,0,0,0.2);
    width: 400px;
    border-radius: 2px;
    animation: fadeIn ease-in 0.2s;
    cursor: default;
}

.header__cart-list--no-cart {
    padding: 24px 0; 
}

.header__cart-list--no-cart .header__cart-no-cart-img,
.header__cart-list--no-cart .header__cart-no-cart-text {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.header__cart-no-cart-img {
    width: 30%;
    display: none;
}

.header__cart-no-cart-text {
    margin-top: 8px;
    display: none;
    font-size: 1.4rem;
    color: var(--text-color);
}

/* Begin Cart with items */
.header__cart-heading {
    text-align: left;
    margin: 8px 0 8px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}
.header__cart-item-list {
    padding-left: 0;
    list-style: none;
    max-height: 60vh;
    overflow-y: auto;
}
.header__cart-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header__cart-item:hover {
    background-color: #f8f8f8;
}
.header__cart-item-img {
    width: 42px;
    height: 42px;
    margin: 12px;
    border: 1px solid var(--border-color);
}
.header__cart-item-info {
    width: 100%;
    margin-right: 12px;
}
.header__cart-item-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__cart-item-name {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 2rem;
    /* crop text with ... */
    max-height: 4rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    /* take only space possible */
    flex: 1;
    /* align text */
    text-align: left;
    padding-right: 16px;
    color:var(--text-color);
    margin: 8px 0;
}
.header__cart-item-price {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--primary-color)
    
}
.header__cart-item-multiply {
    font-size: 0.9rem;
    font-weight: 400;
    color: #757575;
    margin: 0 4px;
}
.header__cart-item-quantity {
    font-size: 1.2rem;
    font-weight: 400;
    color: #757575;
}
.header__cart-item-body {
    display: flex;
    justify-content: space-between;
}
.header__cart-item-description {
    font-size: 1.3rem;
    font-weight: 300;
    color: #757575;
}
.header__cart-item-remove {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
}
.header__cart-item-remove:hover {
    color: var(--primary-color);
    cursor: pointer;
}

.header__cart-view-cart {
    float: right;
    margin : 0 12px 12px 0;
}
.header__cart-view-cart:hover {
    background-color: #f05d4d;
}
/* End Cart with items */

.header__search-input-wrapper {
    flex: 1;
    height: 100%;
    position: relative;
}
.header__search-input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 0 16px;
    border-radius: 2px;

}

.header__search-select {
    padding-left: 16px;
    border-left : 1px solid #e8e8e8;
    position: relative;
    cursor: pointer;
}

.header__search-select-label {
    font-size: 1.4rem;
    color: var(--text-color);
}

.header__search-select-icon {
    font-size: 1.4rem;
    font-weight: 600;
    color: #4a4a4a;
    margin: 0 16px;
    /* downing the arrow without affecting to label text */
    position: relative;
    top: 1px;
}

.header__search-btn {
    background-color: var(--primary-color);
    border: none;
    height: 34px;
    width: 60px;
    border-radius: 2px;
    margin-right: 3px;
    outline: none;
}
.header__search-btn:hover  {
    background-color: #ce593c;
    cursor: pointer;
}
.header__search-btn-icon {
    font-size: 1.4rem;
    color: var(--white-color)
}

.header__search-select:hover .header__search-option {
    display: block;
}
.header__search-option {
    position: absolute;
    right: 0;
    top: calc(100% + 3px);
    width: 130px;
    box-shadow: 0 1px 2px #e0e0e0;
    padding-left: 0;
    border-radius: 2px;
    display: none;
    animation: fade-in ease-in 0.5s;
}

.header__search-option:before {
    content: "";
    display: block;
    position: absolute;
    top: -20px;
    left: 0;
    width: 100%;
    height: 20px;
    /* background-color: red; */
}
.header__search-option-item {
    background-color: var(--white-color);
    padding: 8px 8px;
    list-style: none;
    border-radius: 2px;
}

.header__search-option-item:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.header__search-option-item:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.header__search-option-item:hover {
    background-color: #fafafa;
    cursor: pointer;
}

.header__search-option-item span {
    font-size: 1.4rem;
    color: var(--text-color);
    margin-left: 8px;
}

.header__search-option-item i {
    font-size: 1.2rem;
    color: var(--primary-color);
    margin-left: 12px;
    display: none;
}

.header__search-option-item--active i {
    display: inline-block;
}
.header__search-input:focus ~ .header__search-history {
    display: block;
}
/* Search history */
.header__search-history {
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    width: calc(100% - 16px);
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 1px 5px #eee;
    display: none;
    overflow: hidden;
}

.header__search-history-heading {
    color: #999;
    margin: 6px 12px;
    font-size: 1.4rem;
    font-weight: 400;
}

.header__search-history-list {
    padding-left: 0;
    list-style: none;
    margin: 6px 0 0;
}

.header__search-history-item {
    height: 38px;
    padding: 0 12px;
}
.header__search-history-item:hover {
    background-color: #fafafa;
}
.header__search-history-item a {
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    line-height: 38px;
    display: block;
}


/* Sort bar in header */
.header__sort-bar {
    display: none;
    position: fixed;
    top: var(--header-height);
    left: 0;
    right: 0;
    height: var(--header-sort-bar-height);
    background-color: var(--white-color);
    list-style: none;
    margin: 0;
    padding-left: 0;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;

}
.header__sort-item {
    flex:1;
}
.header__sort-item--active .header__sort-link {
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
}
.header__sort-link {
    display: block;
    position: relative;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    height: 100%;
    line-height: var(--header-sort-bar-height);
    text-align: center;
}

.header__sort-link::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    height: 60%;
    border-left: 1px solid #e5e5e5;
    transform : translateY(-50%);
}

.header__sort-link:first-child .header__sort-link::before {
    border: 0;
}

/* App container */

.app__container {
    position: relative;
    z-index: 8;
    background-color: #F5F5F5;
    padding: 4px 0;
}

.app__content {
    padding-top:36px;
}

.category {
    background-color: #f5f5f5;
    border-radius: 2px;
}

.category__heading {
    color: #555;
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0;
    padding: 22px 16px;
    text-transform: uppercase;
    background-color: rgba(0,0,0,0.05);
    /* border-bottom: 1px solid rgba(0,0,0,0.05); */
}

.category__heading-icon {
    font-size: 1.4rem;
    margin-right: 4px;
    position: relative;
    top:-1px
    
}

.category-list {
    padding: 0 0 0 0;
    margin-top: 10px;
    margin-bottom: 0;
    list-style: none;
}

.category-item {
    position:relative;
    padding-left: 20px;
    background-color: var(--white-color);
}

/* top separate */
.category-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    border-top: 1px solid #e1e1e1;
}

.category-item--active .category-item__link {
    color: var(--primary-color);
}

/* triangle */
.category-item--active .category-item__link:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 8px;
    transform: translateY(-50%);
    border: 4px solid;
    border-color: transparent transparent transparent var(--primary-color);   
}

.category-item--active.category-item {
    background-color: #f5f5f5;
}

.category-item__link {
    position: relative;
    display: block;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.5rem;
    padding: 8px 16px;
    /* make text shift to right when hover, must set right an init value */
    transition: right linear 0.1s;
    right: 0;
}

.category-item__link:hover {
    right: -0.5px;
    color: var(--primary-color);
}

/* Home Sort + Filter */

.home-filter {
    background-color: rgba(0,0,0,0.04);
    display: flex;
    align-items: center;
    padding: 12px 22px;
    border-radius: 2px;
}

.home-filter__page {
    display: flex;
    align-items: center;
}

.home-filter__label {
    color: #555;
    font-size: 1.4rem;
    margin-right: 16px;
}

.home-filter__btn {
    margin-right: 12px;
    min-width: 90px;
}

.home-filter__page {
    margin-left: auto;
}

.home-filter__page-num {
    font-size: 1.5rem;
    color: var(--text-color);
    margin-right: 22px;
}

.home-filter__page-current {
    color: var(--primary-color);
}

.home-filter__page-control {
    border: 1px solid #ccc;
    border-radius: 2px;
    overflow: hidden;
    display: flex;
    width: 72px;
    height: 36px;
}

.home-filter__page-btn {
    flex: 1;
    background-color: var(--white-color);
    display: flex;
    text-decoration: none;
    font-size: 1.4rem;
}

.home-filter__page-btn--disabled {
    background-color: #f9f9f9;
    cursor: default;
}
.home-filter__page-btn--disabled .home-filter__page-icon {
    color: #ccc;
}

.home-filter__page-btn:first-child {
    border-right: 1px solid #eee;
}
.home-filter__page-icon {
    margin: auto;
    color: #555;
}


/* Category Thumbnail Navigator  */
.mobile-category {
    display: none;
}

.mobile-category__list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;

    /* set horizontal scroll bar */
    width: 100%;
    overflow-x: auto;
}

/* hide the scroll bar */
.mobile-category__list::-webkit-scrollbar {
    display: none;
}

.mobile-category__item {
    /* not allow wrapped in the inner html content */
    flex-shrink: 0;
    margin-right: 10px;
}

/* set properties for each category item  */
.mobile-category__item:nth-of-type(3n+1) .mobile-category__link {
    background-color: #87AFD8;
}
.mobile-category__item:nth-of-type(3n+2) .mobile-category__link {
    background-color: #76C9BD;
}
.mobile-category__item:nth-of-type(3n+3) .mobile-category__link {
    background-color: #88CF81;
}

.mobile-category__link {
    --line-height: 2rem;
    padding: 0 6px;
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.4rem;
    font-weight: 300;
    text-align: center;
    /* to set width and height => must set display block */
    width: 110px;
    max-height: calc(var(--line-height)*2); /* must set also overflow: hidden */
    line-height: var(--line-height);
    overflow: hidden;
    display: block;
    /* to trim and add .. */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;

    border-radius: 4px;
    /* prevent user select */
    user-select: none;
    -webkit-user-select: none;
    /* desactive hilight when press on mobile tablet */
    -webkit-tap-highlight-color: transparent;
}

/* Product item */
.home-product {
    margin-bottom: 20px;
}

.home-product-item {
    display: block;
    text-decoration: none;
    position: relative;
    background-color: var(--white-color);
    margin-top: 10px;
    border-radius: 2px;
    box-shadow: 0 0.1rem 0.2rem 0 rgba(0,0,0,0.1);
    transition: transform linear 0.2s;
    will-change: transform;
}
.home-product-item:hover { 
    box-shadow: 0 0.1rem 2rem 0 rgba(0,0,0,0.05);
    transform: translateY(-1px);
}
.home-product-item__img {
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    /* background-size: cover;
    background-position: center; */
}
.home-product-item__name {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    line-height: 1.8rem;
    margin: 10px 10px 6px;
    /* fix height to limit text length 3.6rem */
    height: 5.2rem;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    /* text-overflow: ellipsis;
    white-space: nowrap; */
}
.home-product-item__price {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}

.home-product-item__price-old {
    font-size:1.4rem;
    color: #666;
    text-decoration: line-through;
    margin-left: 10px;
}
.home-product-item__price-current {
    font-size: 1.6rem;
    color: var(--primary-color);
    margin-left: 10px;
}

.home-product-item__action {
    display: flex;
    justify-content: space-between;
    margin: 6px 10px 0;
}
.home-product-item__like {
    font-size: 1.3rem;
}

.home-product-item__like--liked .home-product-item__like-icon-fill {
    display: inline-block;
}

.home-product-item__like--liked .home-product-item__like-icon-empty {
    display: none;
}

i.home-product-item__like-icon-fill {
    display: none;
    color: #f63d30;
}

.home-product-item__rating {
    font-size: 0.8rem;
    /* zoom: 0.5; */
    /* transform-origin: right;
    transform: scale(0.5); */
    color: #d5d5d5;
    margin: -1px 0 0 auto;
}

.home-product-item__star--gold {
    color: var(--start-gold-color);
}

.home-product-item__sold {
    font-size: 1.4rem;
    color: var(--text-color);
    margin-left: 6px;
}
.home-product-item__origin {
    display: flex;
    margin: 4px 10px 0;
    color: #595959;
    font-size: 1.2rem;
    font-weight: 300;
}

.home-product-item__origin-brand {
    margin-right: auto;
}

.home-product-item__origin-name {

}

.home-product-item__favorite {
    position: absolute;
    top: 10px;
    left: -4px;
    color: var(--primary-color);
    background-color: currentColor;
    font-size: 1.2rem;
    font-weight: 500;
    padding-right: 4px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.home-product-item__favorite::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    border-top : 3px solid currentColor;
    border-left: 3px solid transparent;
    filter: brightness(60%);
}

.home-product-item__favorite i {
    font-size: 0.9rem;
    margin : 0 2px 0 4px;
    color: var(--white-color);
}

.home-product-item__favorite span {
    color: var(--white-color);
}

.home-product-item__sale-off {
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 36px;
    color:rgba(255,216,64,0.95);
    background-color: currentColor;
    text-align: center;
    border-top-right-radius: 2px;
}
.home-product-item__sale-off::after {
    content: "";
    position: absolute;
    left: 0;
    top: 100%;
    /* make symmetric triangle */
    border-width: 0 20px 4px;
    border-style: solid;
    border-color: transparent currentColor transparent currentColor;

}
.home-product-item__sale-off-percent {
    font-size: 1.3rem;
    font-weight: 600;
    color: #EE4D2D;
    position: relative;
    top: 4px
}

.home-product-item__sale-off-label {
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--white-color);
    position: relative;
    top: 2px;
}

/* Pagination customizations for product */

.home-product__pagination.pagination {
    margin: 48px 0 32px 0;
}


/* Footer */

.footer {
    border-top: 4px solid var(--primary-color);
    padding-top: 16px;
}
.footer__heading {
    font-size: 1.2rem;
    text-transform: uppercase;
    color: var(--text-color);
}

.footer__list {
    padding-left: 0;
    list-style: none;
}

.footer__link {
    display: flex;
    text-decoration: none;
    font-size: 1.2rem;
    color: #737373;
    padding: 2px 0;
    font-weight: 300;
    align-items: baseline;
}

.footer__link:hover {
    color: var(--primary-color)
}

.footer__link-icon {
    font-size: 1.6rem;
    margin-right: 8px;
}

.footer__download {
    display: flex;
}

.footer__download-img {
    width: 80px;
    object-fit: contain;
    border: 1px solid var(--border-color);
}

.footer__download-app {
   margin-left: 16px;
   display: flex;
   flex-direction: column;
   justify-content: center;
}
.footer__download-app-link {
    text-decoration: none;
    color: transparent;
}
.footer__download-app-img {
    height: 16px;
}

.footer__bottom {
    margin-top: 32px;
    padding: 10px 0;
    background-color: #F5F5F5;
}
.footer__text {
    margin: 0;
    font-size: 1.2rem;
    text-align: center;
}