/* Mobile & Tablet Devices */
@media (max-width: 1023px) {
    :root {
        --navbar-height: 0px;
        --header-height: 68px;
    }
    /* hide on mobile & tablet */
    .hide-on-mobile-tablet {
        display: none;
    }
    .show-on-mobile-tablet {
        display: block;
    }

    .mobile-header-grid {
        display: flex;
    }

    .mobile-navbar-label {
        display: flex;
        align-items: center;
        padding-left: 20px;
    }

    .mobile-navbar-close {
        display: block;
    }
    
    .header-with-search {
        flex: 1;
    }

    @keyframes navbarSlideIn {
        from {
            opacity: 0;
            transform: translateX(-100%);
        }
        to {
            opacity: 1;
            transform: translateX(0%);
        }
    }

    .navbar {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 50%;

        max-width: 100%;
        height: unset;

        /* hide navbar on mobile */
        transform: translateX(-100%);
        opacity: 0;
        transition: transform linear 0.3s, opacity linear 0.3s;
        /* transition: all linear 0.5s; */
    }

    #mobile-navbar-checkbox:checked ~ .navbar {
        transform: translateX(0%);
        opacity: 1;
    }

    #mobile-navbar-checkbox:checked ~ .mobile-navbar-overlay {
        display: block;
    }

    .navbar__list.show-on-mobile-tablet {
        flex: 1;
        background-color: var(--white-color);
        display: flex;
        flex-direction: column;
        margin-top: 0;
        padding-top: 50px;
    }
    
    .navbar__item {
        border-bottom: 1px solid #f5f5f5;

    }

    .navbar__item,
    .navbar__item-link {
        color: var(--text-color);
    }

    .navbar__item-link,
    .navbar__item-user-name {
        flex: 1;
        padding: 16px 0;
    }

    /* cart list cover whole screen */
    .header__cart-list {
        position: fixed;
        top: var(--header-height);
        right: 0;
        width: 100%;
        padding: 0 calc((100% - 644px)/2);
    }

    /* bridge */
    .header__cart-list::before { 
        right: calc((100% - 644px)/2);
    }

    /* hide triangle */
    .header__cart-list::after {
        display: none;
    }

    /* Make bigger Delete icon in cart */
    .header__cart-item-remove {
        padding-left: 32px;
    }

    .header {
       position: fixed;
       top: 0;
       right: 0;
       left: 0;
    }

    .app__container {
        margin-top: calc(var(--header-height) + var(--header-sort-bar-height));
    }

    .app__content {
        padding-top: 8px;
    }

    /* Sort bar in header */
    .header__sort-bar {
        display: flex;
    }

    /* show navigator bar */
    .mobile-category {
        display: block;
    }

}
/* Tablet Devices */
@media (min-width: 740px) and (max-width: 1023px) {
    :root {
        --navbar-height: 0px;
        --header-height: 68px;
    }

    /* hide on tablet */
    .hide-on-tablet {
        display: none;
    }

    .header__cart {
        width: 80px;
        text-align: right;
    }
}

/* Mobile Devices */
@media (max-width: 739px) {
    :root {
        --navbar-height: 0px;
        --header-height: 54px;
    }

    /* hide on mobile */
    .hide-on-mobile {
        display: none;
    }

    /* centering for header elements */
    .header-with-search {
        justify-content: space-between;
    }

    .header__mobile-search {
        display: block;
    }

    .header__logo,
    .header__cart {
        width: unset;
    }

    .header__logo-img {
        width: 100px;
    }

    .header__search-checkbox:checked ~ .header__search {
        display: flex;
    }

    .header__search {
        display: none;
        position: fixed;
        top: var(--header-height);
        left: 0;
        right: 0;
        height: 46px;
        box-shadow: 0 1px 2px rgb(0, 0, 0, 0.05);
        padding: 0 16px;
        animation: mobileSearchSlideDown linear 0.3s;
    }

    @keyframes mobileSearchSlideDown {
        from {
            opacity: 0;
            top: calc(var(--header-height)/2);
        }

        to {
            opacity: 1;
            top: var(--header-height);
        }
    }

    .header__search-history {
        position: fixed;
        top: calc(var(--header-height) + var(--header-sort-bar-height));
        width: 100%;
        left: 0;
        box-shadow: 0 1px 2px rgb(0, 0, 0, 0.05);
    }

    /* Pagination */
    .pagination-item {
        margin: 0 6px;
    }

    .pagination-item__link {
        --height: 28px;
        min-width: 36px;
        font-size: 1.6rem;
    }

    /* correct margin for the app content */
    .app__content {
        margin: 0 4px;
    }

    /* customizations for mobile devices */
    .footer__content {
        padding: 0 16px;
    }
    .footer__heading {
        text-align: center;
    }
    .footer__download,
    .footer__link {
        justify-content: center;
    }
    .footer__download-app-link {
        display: block;
        padding: 6px;
    }

}